{% extends 'blog/main.html' %}

{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card border-0">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{user.profile_pic.url}}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#settingsModal" style="z-index: 1;">
                Nastavení
              </button>

            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{user.username}}</h5>
            </div>
          </div>
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">{{reviews.count}}</p>
                <p class="small text-muted mb-0">Recenze</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ user.comment_set.count }}</p>
                <p class="small text-muted mb-0">Komentáře</p>
              </div>
            </div>
          </div>
          <div class="card-body mt-5 p-4 text-black">



              <!-- carousel -->
<div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- První slide -->
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 1</h5>
                            <p class="card-text">Obsah první karty.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 2</h5>
                            <p class="card-text">Obsah druhé karty.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 3</h5>
                            <p class="card-text">Obsah třetí karty.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Druhý slide -->
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 4</h5>
                            <p class="card-text">Obsah čtvrté karty.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 5</h5>
                            <p class="card-text">Obsah páté karty.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Karta 6</h5>
                            <p class="card-text">Obsah šesté karty.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Ovládací tlačítka -->
    <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


            <div class="mb-5 text-center d-flex flex-column">
              <p class="lead fw-normal mb-1">Oblíbené filmy</p>
              <div class="p-4 bg-body-tertiary d-flex flex-wrap justify-content-center">
                  {% if favorite_films %}
                  {% for favorite in favorite_films %}
                  <div class="card border-0 m-1" style="width: 15rem;">
                      <img class="card-img-top" src="{{ favorite.film.image.url }}" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">{{ favorite.film.title }}</p>
                      </div>
                  </div>
                  {% endfor %}
                  {% else %}
                   <p class="font-italic mb-1">Tento uživatel nemá žádné oblíbené filmy</p>
                  {% endif %}
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
              <p class="lead fw-normal mb-0">Recenze od uživatele {{user.username}}</p>
            </div>
            <div class="row g-2">
                {% for review in reviews %}
                <div class="col-lg-6">
                    <!-- Blog review-->
                    <div class="card mb-4 border-0">
                        <a href="{% url 'review-detail' review.slug %}"><img class="card-img-top" src="{{review.image.url}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{review.created}}</div>
                            <h2 class="card-title h4">{{review.title}}</h2>
                            <p class="card-text">{{ review.body|truncatechars_html:100|safe}}</p>
                            <a class="btn btn-warning" href="{% url 'review-detail' review.slug %}">Číst →</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% include 'blog/user/update.html' %}

{% endblock %}