
{% load static %}
<nav class="navbar navbar-expand-lg px-4 py-2 bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">žádný béčko</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Domů</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'film-list' %}">Filmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'review-list' %}">Recenze</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="{% static 'assets/chevron-left.svg' %}" class="me-2"/>{{ request.user.username }}</button>
<!--      <div class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          {{ request.user.username }}-->
<!--        </a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}">Profil</a></li>-->
<!--          <li><hr class="dropdown-divider"></li>-->
<!--          <li><a class="dropdown-item" href="{% url 'logout' %}">Odhlásit se</a></li>-->
<!--        </ul>-->
<!--      </div>-->
      {% else %}
      <div class="d-flex align-items-center justify-content-center">
        <a href="{% url 'login' %}" class="nav-link"><button type="submit" class="btn btn-outline-dark mx-2 p-1 px-2">Přihlásit se</button></a>
        <a href="{% url 'register' %}" class="nav-link "><button type="submit" class="btn btn-warning p-1 px-2">Registrovat se</button></a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>