{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<div class="container pt-5">
    <div class="row gx-5">
        <!-- Blog entries-->
        <div class="col-lg-9">
            <!-- Nested row for non-featured blog posts-->
            <div class="row px-5">
                {% for review in reviews %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4 bg-white border-0">
                        <a href="#!"><img class="card-img-top" src="{{ review.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="rating">
                                {% for _ in ""|rjust:review.rating %}
                                <img src="{% static 'assets/star.svg' %}" class="ml-3 mb-3" style="height: 30px;"/>
                                {% endfor %}
                            </div>
                            <div class="small text-muted">{{ review.created }}</div>
                            <h2 class="card-title h4">{{ review.title }}</h2>
                            <p class="card-text">{{ review.body|truncatechars_html:250|safe }}</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-dark" href="{% url 'review-detail' review.slug %}">Číst →</a>
                                {% if request.user == review.author %}
                                <div class="dropdown">
                                    <a class="pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'assets/three-dots.svg' %}"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'review-update' review.slug %}">Upravit</a></li>
                                        <li><a href="{% url 'review-delete' review.slug %}" class="dropdown-item">Smazat</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-3">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Vyhledávání</div>
                <div class="card-body">
                    <form method="get" action="">
                        <div class="input-group">
                            <input name="hledat" class="form-control" type="text" placeholder="Zadej název hledaného filmu" aria-label="Enter search term..." aria-describedby="button-search" />
                            <input type="submit" class="btn btn-dark" value="hledat"/>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4 bg-light border-0">
                  <div class="h3 mb-4 d-flex justify-content-center">Populární filmy</div>
                  {% for film in popular_films %}
                  <div>
                      <!-- Blog post-->
                     <div class="card mb-4 border-0">
                         <a href="#!"><img class="card-img-top" src="{{ film.image.url }}" alt="..." /></a>
                         <div class="card-body">
                             <div class="small text-muted">{{ film.created }}</div>
                              <h2 class="card-title h4">{{ film.title }}</h2>
                             <p class="card-text">{{ film.summary }}</p>
                              <a class="btn btn-dark" href="{% url 'film-detail' film.slug  %}">Detail filmu →</a>
                           </div>
                       </div>
                   </div>
                  {% endfor %}
                </div>
                </div>
    </div>
</div>
{% include 'blog/pagination.html' with page=reviews %}
{% endblock content %}